@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@font-face {
  font-family: "arcade";
  src: url("/ARCADECLASSIC.TTF") format("truetype");
}

@font-face {
  font-family: "neelde";
  src: url("/Needleteeth.ttf") format("truetype");
}

@font-face {
  font-family: "saturno";
  src: url("/saturno.ttf") format("truetype");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
}

nav {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* float: right; */
  margin-bottom: 10px;
}

nav > a {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: rgb(65, 131, 196);
  text-decoration: none;
  cursor: pointer;
  margin-right: 10px;
}

h1.heading {
  margin: 0.67em 0px;
  box-sizing: border-box;
  font-weight: 400;
  display: block;
  margin-top: 30px;
  width: 85%;
  height: auto;
}

footer > a {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: rgb(65, 131, 196);
  text-decoration: none;
  cursor: pointer;
  margin-right: 10px;
}

.loader {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  margin-left: 70px;
  margin-top: 45px;
  margin-bottom: 45px;
  font-family: "Miller Text Rom", Georgia, Cambria, "Times New Roman", Times,
    serif;
  font-size: 18px;
  line-height: 1.6;
  color: rgb(93, 91, 91);
}

.loader > span {
  max-height: max-content;
}

.arcade {
  font-family: "arcade";
}

.neelde {
  font-family: "neelde";
  font-size: 80px;
  color: #ff2941;
}

.neelde-no {
  font-family: "neelde";
}

.gras {
  color: #871a85;
}

.yellow {
  color: #feff38;
}

.saturno {
  font-family: "saturno";
  font-size: 20px;
}

ul, li {list-style-type: none;}