@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

header {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Questrial;
  margin-top: 50px;
  margin-left: 50px;
  font-size: 20px;
}

header > a {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: rgb(65, 131, 196);
  font-size: x-large;
  text-decoration: none;
  cursor: pointer;
}

.body {
  margin: 30px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Miller Text Rom", Georgia, Cambria, "Times New Roman", Times,
    serif;
  font-size: 18px;
  line-height: 1.6;
  margin-top: 45px;
  color: rgb(93, 91, 91);
}

nav {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav > a {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: rgb(65, 131, 196);
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px solid rgb(65, 131, 196);
  margin-right: 10px;
}

h1.heading {
  margin: 0.67em 0px;
  box-sizing: border-box;
  font-weight: 400;
  display: block;
  margin-top: 30px;
  width:85%;
  height: auto;
}

footer > a {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: rgb(65, 131, 196);
  text-decoration: none;
  cursor: pointer;
  margin-right: 10px;
}

.loader {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  margin-left: 70px;
  margin-top: 45px;
  margin-bottom: 45px;
  font-family: "Miller Text Rom", Georgia, Cambria, "Times New Roman", Times,
    serif;
  font-size: 18px;
  line-height: 1.6;
  color: rgb(93, 91, 91);
}

.loader > span {
  max-height: max-content;
}